/*--------------------------------------------------------------
# Dark Theme
--------------------------------------------------------------*/

$bg-dark: #1d2026;
$bg-text-dark : #8a94a7;

/*--------------------------------------------------------------
# Light Theme
--------------------------------------------------------------*/

$bg-light : #ffffff;
$bg-text-light  : #000;